  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=VT323&display=swap');

  body {
      background-color: #1c2842;
      height: 100vh;
      font-family: 'Roboto Mono', sans-serif;
      font-size: 18px;
  }